In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# load and append files
weather = pd.read_csv('1910-1938.csv')
weather2 = pd.read_csv('1946-2020.csv')
combo=weather.append(weather2)

In [ ]:
# check data
combo.sample(5)

In [ ]:
# quick sumstats
combo.describe()

In [ ]:
# create datetime
# Convert dates to datetime
combo['datetime'] = pd.to_datetime(combo['DATE'])
# extract date componants

combo['day'] = combo['datetime'].map(lambda x: x.day)
combo['month'] = combo['datetime'].map(lambda x: x.month)
combo['year'] = combo['datetime'].map(lambda x: x.year)
combo

In [ ]:
jan = combo[combo['month']==4]
jan

In [ ]:
rando = jan['TMIN'].sample(100)
rando

In [ ]:
rando.plot()

In [ ]:
# check for nan
combo['TMIN'].tolist()

In [ ]:
 combo['TMIN'].isnull().sum()

In [18]:
# bday weather for cal
nov_25 = combo[(combo['day']==25) & (combo['month']==11)]
nov_25.sample(10)

,STATION,NAME,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,datetime,day,month,year
5709,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",11/25/1953,NaN,0.1,NaN,32,24.0,1953-11-25,25,11,1953
29085,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",11/25/2017,NaN,0.0,NaN,41,29.0,2017-11-25,25,11,2017
230,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",11/25/1938,NaN,0.4,NaN,29,12.0,1938-11-25,25,11,1938
9735,USC00215433,"MINNEAPOLIS WEATHER BUREAU DOWNTOWN, MN US",11/25/1936,0.08,0.0,0.0,21,11.0,1936-11-25,25,11,1936
3160,USC00215433,"MINNEAPOLIS WEATHER BUREAU DOWNTOWN, MN US",11/25/1918,0.00,0.0,0.0,34,23.0,1918-11-25,25,11,1918
15936,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",11/25/1981,NaN,0.0,NaN,37,31.0,1981-11-25,25,11,1981
29815,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",11/25/2019,NaN,0.0,NaN,45,37.0,2019-11-25,25,11,2019
13744,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",11/25/1975,NaN,0.0,NaN,21,7.0,1975-11-25,25,11,1975
14840,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",11/25/1978,NaN,0.0,NaN,36,9.0,1978-11-25,25,11,1978
13014,USW00014922,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",11/25/1973,NaN,0.0,NaN,39,35.0,1973-11-25,25,11,1973

In [ ]:
# try out numpy
highs = combo['TMAX'].to_numpy()
lows = combo['TMIN'].to_numpy()

In [ ]:
#print max tempature
print("max temp", np.max(highs))

In [ ]:
lows

In [ ]:
# remove nan value
lows = lows[np.logical_not(np.isnan(lows))]
lows

In [ ]:
#low tempature
print("min tempature", np.min(lows))

In [ ]:
col_mean = np.nanmean(lows, axis=0)
print(col_mean)

In [ ]:
print("minimum temp", np.min(lows))

In [ ]:
plt.plot(lows)

In [ ]:
np.isnan(lows)

np.sum(lows)

In [ ]:
weather['SNWD'].plot()

In [ ]:
weather['SNOW'].max()